body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #f8f8f8;
    background-image: url('tkan-korichnevaya-tekstura3.jpg'); /* Путь к изображению */
    background-size: cover; /* Растягиваем изображение, чтобы покрыть всю область */
    /*background-position: center; /* Позиционируем изображение по центру */
    /*background-repeat: no-repeat; /* Запрещаем повторение изображения */
}
/*video vna4ale*/
#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

#myVideo {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 2s ease;
}

#content-container {
    position: relative;
    z-index: 1;
    background-color: #f8f8f8;
    padding-top: 50px; /* Поднимаем контент, чтобы он не перекрывался видео */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*background-color: transparent;*/
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: background-color 0.3s ease;
}

#logo {
    width: 200px;
    height: auto;
    margin-right: 50px;
}

nav {
    display: flex;
    font-size: 24px;

}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color:aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Пример красивого шрифта */
    letter-spacing: 1px; /* Расстояние между буквами */
    transition: color 0.3s ease; /* Плавное изменение цвета при наведении */
}

nav a:hover {
    color: #9c6a27; /* Цвет при наведении */
}


/* flag */
.language-links {
    display: flex;
}

.language-link {
    margin: -240px; /* Расстояние между флагами, настройте под ваши требования */
    transition: opacity 0.5s ease; /* Плавное изменение прозрачности при клике */
}

.flashing {
    animation: flashing 1s infinite alternate; /* Анимация для мигания */
}

@keyframes flashing {
    from {
        opacity: 1; /* Начальная прозрачность */
    }
    to {
        opacity: 0.5; /* Прозрачность при мигании */
    }
}

.flag-icon {
    width: 30px; /* Размер флага, можно настроить под ваши требования */
    height: auto;
}

#contact-button {
    background-color: #9c6a27; /* Светло-коричневый цвет */
    color: white;
    padding: 15px 35px; /* Увеличиваем размер кнопки */
    border: none;
    border-radius: 8px; /* Закругляем углы */
    cursor: pointer;
    margin-right: 50px; /* Уменьшаем отступ справа */
    transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
}

#contact-button:hover {
    background-color: #8B4513; /* Изменяем цвет при наведении */
}

nav a:not(:last-child) {
    margin-right: 35px;
}

body.scrolled header {
    background-color: #604335;
}
/*////\\\*/


/*1 variant*/
/* Добавьте эти стили в ваш уже существующий CSS или в тот файл, который подключен к вашей странице */
.services-container {
    margin: 50px;
    margin-top: 150px;
    text-align: center;

}

.services-table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    text-align: center;
}

.services-table th, .services-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    
}

.services-table th {
    background-color: #9c6a27;
    color: antiquewhite;
    
}

.services-table td {
    background-color: #9c6a27;
    color: antiquewhite;
}

.services-table tbody tr:hover {
    background-color: #f5f5f5;
}

.services-table tbody tr {
    display: none;
}

#page1:checked ~ .services-table tbody tr:nth-child(n+1):nth-child(-n+5) {
    display: table-row;
}

#page2:checked ~ .services-table tbody tr:nth-child(n+6):nth-child(-n+10) {
    display: table-row;
}

#page3:checked ~ .services-table tbody tr:nth-child(n+11):nth-child(-n+15) {
    display: table-row;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.page-input {
    display: none;
}

.page-link {
    display: inline-block;
    padding: 8px;
    margin: 0 5px;
    background-color: #9c6a27;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.page-input:checked + .page-link {
    background-color: #604335;
}



/*////\\\*/
/* Ваш стиль для footer */
footer {
    background-color: #f8f8f800; /* Цвет фона футера */
    padding: 80px 100px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    max-width: 400px; /* Регулируйте размер логотипа */
}

.footer-data {
    text-align: right;
}

.footer-data p {
    margin: 0;
    font-size: 24px;
    color: #ffffff; /* Цвет текста футера */
}

footer p:last-child {
    margin-top: 20px; /* Добавляет отступ между блоками */
}

.text-center {
    text-align: center;
    margin-top: 20px; /* Если нужен отступ сверху */
    color:aliceblue;
}
